body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, rgb(0, 0, 0), #545454, rgb(115, 115, 115));
    background-size: 600% 600%;
    animation: gradientShift 30s ease infinite;
  }
  
  @keyframes gradientShift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  header {
    background-color: #222;
    color: #fff;
    padding: 20px;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  section {
    padding: 40px;
    text-align: center;
  }
  
  #home {
    color: #fff;
  }
  
  #about {
    color: #fff;
  }
  
  #demo {
    color: #fff;
  }
  
  .project {
    margin-bottom: 20px;
  }
  
  #contact {
    color: #fff;
  }
  
  form input,
  form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #777;
    border-radius: 4px;
    background-color: #1a1a1a;
    color: #fff;
  }
  
  form input[type="submit"] {
    background-color: #222;
    color: #fff;
    cursor: pointer;
    border: none;
  }
  
  footer {
    background-color: #222;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  